<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-divider">Edit Question<span class="panel-subtitle"></span>
          </div>
          <div class="panel-body">
            <div class="xs-mt-10 xs-mb-10  ">
              <div class="row">
                <div class="col-md-8">
                  <form class="form-horizontal" method="GET" action="/#/complex">
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-6">ID</label>
                        <div class="col-sm-9">
                          <input id="form-control-6" class="form-control" type="text" placeholder="1"
                                 disabled="disabled">
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-1">Student Name</label>
                        <div class="col-sm-9">
                          <input id="form-control-1" class="form-control" type="text" placeholder="James">
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-1">Specialization</label>
                        <div class="col-sm-9">
                          <input id="form-control-1" class="form-control" type="text" placeholder="Data Science	">
                        </div>
                      </div>
                    </div>
                   
                    
                    
                  
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-8">Question</label>
                        <div class="col-sm-9">
                          <textarea id="form-control-8" class="form-control" rows="3">I need help to solve this problem any suggestion please	</textarea>
                        </div>
                      </div>
                    </div>
                   
                    <!-- <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-11">File input</label>
                        <div class="col-sm-9">
                          <input id="form-control-11" type="file" accept="image/*" multiple="multiple">
                          <p class="help-block">
                            <small>Unlimited number of files can be uploaded to this field. Allowed types: png gif jpg
                              jpeg.
                            </small>
                          </p>
                        </div>
                      </div>
                    </div> -->

                    <!-- <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-1">Answered By</label>
                        <div class="col-sm-9">
                          <input id="form-control-1" class="form-control" type="text">
                        </div>
                      </div>
                    </div> -->

                    <!-- <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-1">Senior student year</label>
                        <div class="col-sm-9">
                          <input id="form-control-1" class="form-control" type="text">
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label">Status</label>
                        <div class="col-sm-9">
                       
                          <div class="radio">
                            <label>
                              <input type="radio" name="period" value="day"> Answered
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="period" value="week" checked="checked"> Not Answered
                            </label>
                          </div>

                          
                         
                        </div>
                        
                      </div>
                    </div> -->


                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-12 control-label" for="form-control-1"><button class="btn btn-primary" type="submit">Edit</button>
                          <button class="btn btn-danger" type="submit">Delete</button>

                        </label>
                        <div class="col-sm-9">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>
