<div class="sidebar hidden-sm-down">
    <ul class="nav in" id="side-menu">
      

      <!-- <li><a class=""><i></i> <span
        class="hide-menu">year 2019-2020</span></a>
      </li>

        <li>
          <a  [routerLink]="['/int']" [routerLinkActive]="['active']">
            <i class=""></i>
            <span class="hide-menu">Interactive media</span>
          </a>
        </li> -->


        <li><a class=""><i></i> <span
          class="hide-menu">year 2019-2020</span></a>
        </li>
        <li>
          <a  [routerLink]="['/complex']" [routerLinkActive]="['active']">
              <i class=""></i>
              <span class="hide-menu">Interactive Media</span>
          </a>
       </li>

       <li>
          <a  [routerLink]="['/complex']" [routerLinkActive]="['active']">
              <i class=""></i>
              <span class="hide-menu">Software technology</span>
          </a>
       </li>

       <li>
          <a  [routerLink]="['/complex']" [routerLinkActive]="['active']">
              <i class=""></i>
              <span class="hide-menu">Intro to Data Science</span>
          </a>
       </li>

  
       



    </ul>
</div>
